<div class="card border-secondary mb-3 <%= @api_color %>" style="max-width: 67rem;">
  <div class="card-header"><%= @final_output %></div>
  <div class="card-body text-secondary">
    <h5 class="text-body">This is the current ozone air quality readout for neighborhood in Las Vegas.</h5>
    <p class="text-body">Hit "Reload" in your web browser to update the reading...</p>
    <a class="btn btn-secondary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>

<br/>
